.allCountriesContainer {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}







.allCountriesSearch {
    position: sticky;
    top: 15vh;
    /* background-color: #ffffff3d; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.allCountriesSearchBarContainer {
    width: 35vw;
    backdrop-filter: blur(10px);
    padding: 0.25rem;
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    border: #ffffff23 2px solid;
}

.allCountriesSearchBar:active > .allCountriesSearchBarContainer {
    border: var(--primary) 2px solid;
}

.allCountriesSearchBar {
    color: azure;
    width: 90%;
    max-width: 100%;
    background-color: transparent;
    font-size: 1.25rem;
    height: 3.25rem;
    border-radius: 5rem;
    border: none;
    padding: 0.5rem 1.25rem;
    outline: none;
}

.clearButton {
    background-color: var(--primary);
    border: none;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 5rem;
}

.clearButton:active {
    background-color: #533800;
    transform: scale(0.25);
    transition: ease-in-out 0.25s;
    box-shadow: 0px 0px 15px 7.5px var(--primary);
}







.countryCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95vw;
    gap: 1.75vw;
    padding: 0px 2vw;
    scroll-behavior: smooth;
}

.countryCard {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 75vw;
    gap: 2.5rem;
    padding: 15px;
    border-radius: 1rem;
    background-color: rgb(20, 20, 20);
    overflow: hidden;
    /* z-index: -2; */
}




@media screen and (max-width: 768px) {
    
    .allCountriesSearchBarContainer {
        width: 85vw;
        padding: 0.25rem;
    }

    .clearButton {
        background-color: var(--primary);
        border: none;
        height: 2.75rem;
        width: 2.75rem;
        border-radius: 5rem;
    }


    .allCountriesSearchBar {
        color: azure;
        font-size: 0.85rem;
        width: 80%;
        height: 2.75rem;
        padding: 0.5rem 1.05rem;
    }
    




    .countryCardContainer {
        gap: 3.5vw;
    }

    .countryCard {
        width: 85vw;
        border-radius: 0.75rem;
        gap: 1.15rem;
        padding: 10px;
    }

}