.countryPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 17.5vh 2.5vw 0vh 2.5vw;
    width: 100vw;
    color: #fff;
}


.countryInfoContainer {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 90vw;
    width: 100%;
    padding: 2rem;
    gap: 2.75rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1.75rem;
    overflow: hidden;
}

.countryInfoNameImgBg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
    filter: blur(75px) contrast(2);
    transform: scale(1.2);
    z-index: -1;
}

.countryInfoFlag {
    aspect-ratio: 3/2;
    position: relative;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0.05rem;
    border-radius: 1rem;
    z-index: 0;
}

.countryInfoFlagImgBg {
    position: absolute;
    height: 100%;
    width: 150%;
    filter: blur(35px) contrast(2) brightness(55%);
    transform: scale(1.4);
    z-index: -1;
}

.countryInfoFlagImg {
    width: fit-content;
}


.countryInfoNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25vw;
}

.countryInfoName {
    box-sizing: border-box;
    text-align: start;
    font-size: 4.5rem;
    line-height: 6rem;
    width: 115%;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}




/* info details */

.countryInfoDetails {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    font-size: 1.1rem;
    color: black;
}

.countryInfoDetails p span {
    font-weight: bold;
}








/* Map */

.mapContainer {
    width: 100%;
    /* background-color: #363636; */
}


@media screen and (max-width: 768px) {

    .countryInfoContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 7.5vw 5vw;
        gap: 0rem;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 1.5rem;
        overflow: hidden;
    }

    .countryInfoNameImgBg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        filter: blur(45px) brightness(150%) contrast(1.75);
        transform: scale(2);
        z-index: -1;
    }

    .countryInfoFlag {
        aspect-ratio: 3/2;
        position: relative;
        height: 22.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 0.05rem;
        border-radius: 1rem;
        z-index: 0;
    }

    .countryInfoFlagImgBg {
        position: absolute;
        height: 100%;
        width: 150%;
        filter: blur(35px) contrast(2) brightness(55%);
        transform: scale(1.4);
        z-index: -1;
    }

    .countryInfoFlagImg {
        width: fit-content;
    }


    .countryInfoNameContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0.05vw;
    }

    .countryInfoName {
        text-align: center;
        font-size: 1.75rem;
        line-height: 4.25rem;
        width: 100%;
    }


    /* info details */

    .countryInfoDetails {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 0.45rem;
        font-size: 1.1rem;
        color: black;
    }
}