@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #00FFA3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Light';
  src: url('/fonts/OakSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Regular';
  src: url('/fonts/OakSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bold';
  src: url('/fonts/OakSans-Bold.ttf') format('truetype');
}



@font-face {
  font-family: 'Heading';
  src: url('/fonts/Partita.otf') format('opentype');
}


@font-face {
  font-family: 'Heading1';
  src: url('/fonts/Achron.otf') format('opentype');
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Regular', sans-serif;
  border: hwb(158 0% 0%);
}

body {
  font-family: 'Regular', sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color:#000000;
  width: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}










/* total width */
body::-webkit-scrollbar {
  background-color: #000000;
  width: 12px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #0f0f0f;
  margin: 1rem 0rem;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #383838;
  border-radius: 12px;
  border: 2.5px solid #00FFA3;
  transition: ease 0.5s;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}